* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #05595B;
    color: white;
}
header a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    
}
a:hover {
    color: #062C30;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-one {
    background-color: #062C30;
    min-height: 300px;
}
.section-one h1 {
    font-size: 35px;
}
.section-one .container {
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.section-two {
    display: flex;
    justify-content: space-between;
}
.section-two .container div {
    background-color: #05595B;
    color: white;
    border-radius: 10px;
}
.section-two .container {
    padding-top: 25px;
}
div {
    width: 30%;
    text-align: center;
}
footer {
    background-color: #062C30;
    color: white;
    padding: 15px;
    margin-top: 20px;
    
}
footer a {
    color: white;
    text-decoration: none;
    padding: 20px;
}
footer a:hover {
    color: brown;
}